<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.title }}</title>
</head>
<body>
    <ul>
        {% for product in products %}
        <li><a href="{% url 'products:product_detail' product.slug %}">{{product.title}}</a></li>
        {% endfor %}
    </ul>
    {% include "snippets/pagination.html" with page=page_obj %}
</body>
</html>